In [69]:
import mysql.connector
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [70]:
connection = mysql.connector.connect(
    user='root',
    password='12345',  
    host='localhost',
    database='EMS_db'
)
cursor = connection.cursor()

In [71]:
cursor.execute('SELECT * FROM Employees_db')
employee_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
print("Employee Data:")
print(employee_data.head())

Employee Data:
   EmployeeID     Name Department   Salary    JoinDate
0           1  mohn De       tech  70000.0  2023-02-20
1           2     BABU    Finance  45000.0  2021-12-15
2           3    Charu         IT  50000.0  2023-03-20
3           4     Diya  Marketing  42000.0  2020-11-01
4           5    Eshan         IT  55000.0  2019-09-05

In [72]:

cursor.execute("""
    INSERT INTO Employees_db (EmployeeID, name, Department, salary, joindate)
    VALUES (9, 'sohn roy', 'Fintech', 50000, '2024-02-20')
""")
connection.commit()
print("Employee added successfully!")

IntegrityError: 1062 (23000): Duplicate entry '9' for key 'employees_db.PRIMARY'

In [73]:
def view_employees():
    cursor.execute('SELECT * FROM Employees_db')
    employee_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
    print("\nEmployee Data:")
    print(employee_data)
view_employees()

Employee Data:
   EmployeeID      Name   Department   Salary    JoinDate
0           1   mohn De         tech  70000.0  2023-02-20
1           2      BABU      Finance  45000.0  2021-12-15
2           3     Charu           IT  50000.0  2023-03-20
3           4      Diya    Marketing  42000.0  2020-11-01
4           5     Eshan           IT  55000.0  2019-09-05
5           6  John Doe  Engineering  75000.0  2023-02-20
6           7   mohn De  Engineering  80000.0  2023-02-20
7           8  mohn roy       Edtech  70000.0  2023-02-20
8           9  sohn roy      Fintech  50000.0  2024-02-20

In [74]:

def update_employee_salary():
    emp_id =7
    new_salary = 80000
    
    cursor.execute("UPDATE Employees_db SET Salary = %s WHERE EmployeeID = %s", (new_salary, emp_id))
    connection.commit()
    print("\nEmployee salary updated successfully.")
    cursor.execute("SELECT * FROM Employees_db")
    
    employee_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
    print(employee_data)
    
    



update_employee_salary()

Employee salary updated successfully.
   EmployeeID      Name   Department   Salary    JoinDate
0           1   mohn De         tech  70000.0  2023-02-20
1           2      BABU      Finance  45000.0  2021-12-15
2           3     Charu           IT  50000.0  2023-03-20
3           4      Diya    Marketing  42000.0  2020-11-01
4           5     Eshan           IT  55000.0  2019-09-05
5           6  John Doe  Engineering  75000.0  2023-02-20
6           7   mohn De  Engineering  80000.0  2023-02-20
7           8  mohn roy       Edtech  70000.0  2023-02-20
8           9  sohn roy      Fintech  50000.0  2024-02-20

In [79]:
def delete_employee():

    emp_id = 1
    cursor.execute("SELECT * FROM Employees_db")
    cursor.fetchall()
    
    cursor.execute("DELETE FROM employees_db WHERE EmployeeID = %s", (emp_id,))
    connection.commit()
    # print(f"Employee with ID {emp_id} deleted successfully!")
    print("\nEmployee salary DELETED successfully.")
    cursor.execute("SELECT * FROM Employees_db")
    updated_data = cursor.fetchall()
    

    employee_data = pd.DataFrame(updated_data, columns=[desc[0] for desc in cursor.description])
    print("\nUpdated Employee Data:")
    print(employee_data)
    print(employee_data)


delete_employee()

InternalError: Unread result found

In [ ]:

update_employee_salary()
delete_employee()
cursor.close()
connection.close()

InternalError: Unread result found

In [82]:
view_employees()

InternalError: Unread result found