In [84]:
import mysql.connector
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [85]:
connection = mysql.connector.connect(
    user='root',
    password='12345',  
    host='localhost',
    database='EMS_db'
)
cursor = connection.cursor()

In [86]:
cursor.execute('SELECT * FROM Employees_db')
employee_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
print("Employee Data:")
print(employee_data.head())

Employee Data:
   EmployeeID      Name   Department   Salary    JoinDate
0           2      BABU      Finance  45000.0  2021-12-15
1           3     Charu           IT  50000.0  2023-03-20
2           4      Diya    Marketing  42000.0  2020-11-01
3           5     Eshan           IT  55000.0  2019-09-05
4           6  John Doe  Engineering  75000.0  2023-02-20

In [87]:

cursor.execute("""
    INSERT INTO Employees_db (EmployeeID, name, Department, salary, joindate)
    VALUES (10, 'Rohan roy', 'sales', 50000, '2024-12-20')
""")
connection.commit()
print("Employee added successfully!")

Employee added successfully!

In [88]:
def view_employees():
    cursor.execute('SELECT * FROM Employees_db')
    employee_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
    print("\nEmployee Data:")
    print(employee_data)
view_employees()

Employee Data:
   EmployeeID       Name   Department   Salary    JoinDate
0           2       BABU      Finance  45000.0  2021-12-15
1           3      Charu           IT  50000.0  2023-03-20
2           4       Diya    Marketing  42000.0  2020-11-01
3           5      Eshan           IT  55000.0  2019-09-05
4           6   John Doe  Engineering  75000.0  2023-02-20
5           7    mohn De  Engineering  80000.0  2023-02-20
6           8   mohn roy       Edtech  70000.0  2023-02-20
7           9   sohn roy      Fintech  50000.0  2024-02-20
8          10  Rohan roy        sales  50000.0  2024-12-20

In [89]:

def update_employee_salary():
    emp_id =7
    new_salary = 80000
    
    cursor.execute("UPDATE Employees_db SET Salary = %s WHERE EmployeeID = %s", (new_salary, emp_id))
    connection.commit()
    print("\nEmployee salary updated successfully.")
    cursor.execute("SELECT * FROM Employees_db")
    
    employee_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
    print(employee_data)
    
    



update_employee_salary()

Employee salary updated successfully.
   EmployeeID       Name   Department   Salary    JoinDate
0           2       BABU      Finance  45000.0  2021-12-15
1           3      Charu           IT  50000.0  2023-03-20
2           4       Diya    Marketing  42000.0  2020-11-01
3           5      Eshan           IT  55000.0  2019-09-05
4           6   John Doe  Engineering  75000.0  2023-02-20
5           7    mohn De  Engineering  80000.0  2023-02-20
6           8   mohn roy       Edtech  70000.0  2023-02-20
7           9   sohn roy      Fintech  50000.0  2024-02-20
8          10  Rohan roy        sales  50000.0  2024-12-20

In [95]:
def delete_employee():

    emp_id = 1
    cursor.execute("SELECT * FROM Employees_db")
    cursor.fetchall()
    
    cursor.execute("DELETE FROM employees_db WHERE EmployeeID = %s", (emp_id,))
    connection.commit()
    # print(f"Employee with ID {emp_id} deleted successfully!")
    print("\nEmployee salary DELETED successfully.")
    cursor.execute("SELECT * FROM Employees_db")
    updated_data = cursor.fetchall()
    

    employee_data = pd.DataFrame(updated_data, columns=[desc[0] for desc in cursor.description])
    print("\nUpdated Employee Data:")
    print(employee_data)
    print(employee_data)


delete_employee()

Employee salary DELETED successfully.

Updated Employee Data:
   EmployeeID       Name   Department   Salary    JoinDate
0           2       BABU      Finance  45000.0  2021-12-15
1           3      Charu           IT  50000.0  2023-03-20
2           4       Diya    Marketing  42000.0  2020-11-01
3           5      Eshan           IT  55000.0  2019-09-05
4           6   John Doe  Engineering  75000.0  2023-02-20
5           7    mohn De  Engineering  80000.0  2023-02-20
6           8   mohn roy       Edtech  70000.0  2023-02-20
7           9   sohn roy      Fintech  50000.0  2024-02-20
8          10  Rohan roy        sales  50000.0  2024-12-20
   EmployeeID       Name   Department   Salary    JoinDate
0           2       BABU      Finance  45000.0  2021-12-15
1           3      Charu           IT  50000.0  2023-03-20
2           4       Diya    Marketing  42000.0  2020-11-01
3           5      Eshan           IT  55000.0  2019-09-05
4           6   John Doe  Engineering  75000.0  2023-02-20
5           7    mohn De  Engineering  80000.0  2023-02-20
6           8   mohn roy       Edtech  70000.0  2023-02-20
7           9   sohn roy      Fintech  50000.0  2024-02-20
8          10  Rohan roy        sales  50000.0  2024-12-20